@charset "utf-8";
/* 윗줄은 절대로 1번줄에 배치되어야 한다. */
/* 폰트 import 진행 */
@import url("./font/font.css");

$black: #333;
$gray: #ECEEF2;
$main-color: #4772E3;
$point-color: #FFBC61;
$sub-color: #84CBFF;

$header-gap: 3.6458vw;
$ver-gap: 13.0208vw;
$hori-gap: 12rem;

$con-title: 3rem;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
}

img {
    bottom: 0;
    vertical-align: middle;
}

html {
    font-size: 16px;

    &.active {
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

body {
    color: $black;
    font-family: "Montserrat", "Pretendard", sans-serif;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
}


/* 위로가기 */
.goTop {
    position: fixed;
    right: 50px;
    bottom: 100px;
    z-index: 9999;
    width: 100px;
    height: 100px;
    border: 0;
    opacity: 0;
    background-color: $main-color;
    cursor: pointer;
    transition: all 0.5s;
}

/* 공통요소 : 2번 이상 활용하는 경우 */
.inner {
    display: block;
    position: relative;
    max-width: 1420px;
    /* 반응형이므로 max-width도 써준다. */
    width: 100%;
    margin: 0 auto;
    /* block 요소 가운데 정렬 */

}

.main-color {
    color: $main-color;
}


// header style sheet
.header {
    /* 메뉴가 상단에 고정해서 스크롤이 된다면 fixed */
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 5.5rem;
    /* header는 무조건 z-index 쓰자 : 최댓값으로 */
    z-index: 9999;
    background-color: #fff;
    transition: height 0.5s, background 0.5s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    .inner {
        /*  left, top, right, bottom 사용시, 
            반드시 position:absolute를 쓴다.
            position:relative에 금지
        */
        display: flex;
        max-width: 100%;
        height: 100%;
        z-index: 9;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 $header-gap;
    
        .logo {
            width: 116px;
            height: 32px;
            background-size: cover;
            background: url("../img/logo.png") no-repeat center;
            transition: top 0.5s, background 0.5s;
        }

        .nav {
            height: 100%;

            .gnb {
                align-items: center;
                display: flex;
                flex-direction: row;
                gap: 5rem;
                height: 100%;
                
                a {
                    font-size: 18px;
                    font-weight: 500;

                    span {
                        position: relative;
                        display: block;
                        padding-bottom: 4px;

                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            display: block;
                            width: 0;
                            height: 2px;
                            background: $black;
                            transition: width 0.5s;
                        }
                    }

                    &:hover span::after{
                        width: 100%;
                    }
                }
            }
        }
    }
    .mb-nav {
        display: none;
    }
}

// visual style sheet
.visual {
    background: url("../img/main_visual_1.jpg") no-repeat center;
    background-size: cover;
    border-radius: 2rem;
    display: block;
    position: relative;
    // width: 100%;
    height: 100vh;
    transition: height 0.5s;
    margin: 0 2.0833vw;

    .swvisual {
        width: 100%;
        height: 100%;

        .visual-img {
            // 기본(공통) slide 내용 css
            position: relative;
            display: block;
            width: 100%;
            height: 100%;

            .bg-1 {
                background: url("../img/main_visual_1.jpg") no-repeat center;
                background-size: cover;
            }
        
            .bg-2 {
                background: url("../img/main_visual_2.jpg") no-repeat center;
                background-size: cover;
            }
        
            .bg-3 {
                background: url("../img/main_visual_3.jpg") no-repeat center;
                background-size: cover;
            }
        
            .bg-4 {
                background: url("../img/main_visual_4.jpg") no-repeat center;
                background-size: cover;
            }
        }
    }
}

// service style sheet
.service {
    display: flex;
    flex-direction: row;
    position: relative;
    height: auto;

    .inner {
        height: 100%;
        margin: $hori-gap 0;
    }

    h2 {

    }
}

// info style sheet

// category style sheet

// footer style sheet

